/PrimerTrimestre_AD/Practica(II)_SistemaDeFormacion/nbproject/private/
/PrimerTrimestre_AD/Practica(II)_SistemaDeFormacion/build/
/PrimerTrimestre_AD/Practica(II)_SistemaDeFormacion/dist/
/PrimerTrimestre_AD/Practica(II)_SistemaFormacionGenerico/nbproject/private/
/PrimerTrimestre_AD/Practica(II)_SistemaFormacionGenerico/build/
/PrimerTrimestre_AD/Practica(II)_SistemaFormacionGenerico/dist/
/PrimerTrimestre_AD/Practica_III__SisForm_Almacenamiento/nbproject/private/
/PrimerTrimestre_AD/Practica_III__SisForm_Almacenamiento/build/
/PrimerTrimestre_AD/Practica_III__SisForm_Almacenamiento/dist/
/PrimerTrimestre_AD/Practica(III)_SisForm_Almacenamiento/build/
/PrimerTrimestre_AD/Practica(III)_SisForm_Almacenamiento/dist/
/PrimerTrimestre_AD/Practica(III)_SisForm_Almacenamiento/nbproject/private/
/PrimerTrimestre_AD/Practica(IV)_SisForm_Fichero/nbproject/private/
/PrimerTrimestre_AD/Practica(IV)_SisForm_Fichero/build/
/PrimerTrimestre_AD/Practica(IV)_SisForm_Fichero/dist/
